body{
  background-color:#dcdfe5;
}

.info{
  font-family: 'Roboto', sans-serif;
}

.content{
  margin-top: 30px;
  margin-bottom: 30px;
  /* height: 100%; */
}

.footer{
  background-color: #cadafc;
}
